/* style.css */

@font-face {
    font-family: 'Poppins';
    src: url(:/Fonts/Poppins-Regular.ttf);
}
#Farmopolis {
    background-color: #212529;
    font-size: 20px;
}
#Ranking {
    background-color: #2B3034;
    font-size: 20px;
}
#farmopoliswidget {
    min-width:1800px;
    background-color: #2B3034;
    border-radius: 24px;
}
#rankingwidget {
    background-color: #212529;
    border-radius: 24px;
}
#rankingwidget QLabel {
    padding: 8px;
}
#titleRankinglabel {
    background-color: #FFB703;
    padding-left : 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#productsstorewidget , #operatorwidget {
    background-color: #212529;
    border-radius: 24px;
}
#groundwidget {
    background-color: #99582A;
}
#groundwidget > Ground {
    background-color: #BC6C25;
    border: 3px solid #FFB703;
}
/* add icon to labels */
#henNamelabel {
    image: url(:/rec/Icons/farm/hen.png);
}
#sheepNamelabel {
    image: url(:/rec/Icons/farm/sheep.png);
}
#cowNamelabel {
    image: url(:/rec/Icons/farm/cow.png);
}
#wheatNamelabel {
    image: url(:/rec/Icons/farm/wheat-bag.png);
}
#barleyNamelabel {
    image: url(:/rec/Icons/farm/barley-bag.png);
}
#workerNamelabel {
    image: url(:/rec/Icons/farm/farmer.png);
}
#groundNamelabel {
    image: url(:/rec/Icons/farm/ground.png);
}
#productNamelabe {
    image: url(:/rec/Icons/farm/products.png);
    background-color: #FFB703;
}
#purchasePricelabel {
    image: url(:/rec/Icons/farm/dollar.png);
    background-color: #FFB703;
}
#productionTimelabel {
    image: url(:/rec/Icons/farm/timer.png);
    background-color: #FFB703;
}
#salesPricelabel {
    image: url(:/rec/Icons/farm/price.png);
    background-color: #FFB703;
}

#timerGamelabel {
    background-color: #FFB703;
    border : 2px solid #FFB703;
    color: black;
    min-width: 80px;
}
#rankingPlayerslabel {
    image: url(:/rec/Icons/farm/trophy.png);
    background-color: #FFB703;
    border : 2px solid #FFB703;
}
#useractivelabel , #usernamePlayerslabel {
    image: url(:/rec/Icons/farm/user.png);
    background-color: #FFB703;
    border : 2px solid #FFB703;
}
#numberOfWorkersIconlabel {
    image: url(:/rec/Icons/farm/farmer.png);
    background-color: #FFB703;
    border : 2px solid #FFB703;
}
#coinInventoryIconlabel , #coinsPlayerslabel{
    image: url(:/rec/Icons/farm/coins.png);
    background-color: #FFB703;
    border : 2px solid #FFB703;
}

#productionTimeIconlabel {
    image: url(:/rec/Icons/farm/greentimer.png);
    background-color: #FFB703;
}
#collectIconlabel {
    image: url(:/rec/Icons/farm/collect.png);
    background-color: #FFB703;
}
#killIconlabel {
    image: url(:/rec/Icons/farm/knife.png);
    background-color: #FFB703;
}
#coinAndWorkerErrorlabel {
    color:white;
    background-color: #DC3545;
    font-size: 16px;
    padding-left: 16px;
}
/* add icon to labels */

/* pushButton styles */

QPushButton {
    width: 150px;
    height: 32px;
    padding: 8px;
    border-radius: 8px ;
    background-color: #FFB703;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;

}
QPushButton:hover {
    background-color: #FFA703;
}

QLabel {
    border-radius: 8px ;
    min-width: 48px;
    min-height: 48px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color:white;
    background-color: #2B3034;
}
QLabel:hover {
    background-color: #2B3034;
}
/* pushButton styles */
QProgressBar {
    border: 2px solid #212529;
    border-radius: 8px;
    background-color: #2B3034;
    min-height: 48px;
    min-width: 48px;
}
QProgressBar::chunk {
    background-color: #FFB703;
    border-radius: 8px;
    min-height: 48px;
    min-width: 48px;
}
